.header {
    min-height: 30vh;
    color: white;
    background: url(../images/bg.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    text-align: center;
}

.page {
    min-height: 400vh;
}